{% extends 'base.html' %}
{% load filtros_proyectos %}

{% block content %}
<br>
<div class="container-fluid">
    <ins><h3 align="center">Proyectos de {{request.user.first_name}}</h3></ins>
        <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
        {% if dict %}
            {% for key, value in dict.items %}
                <div class="col mt-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{key.nombre}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Estado: {{key.estado}}</h6>
                        <p class="card-text"><b>Gerente:</b> {{key.gerente}}</p>
                        <p class="card-text"><b>Mis roles:</b></p>
                            <ul>
                            {% for rol in value %}
                        <li>{{rol.nombre}} en {% for fase in rol.fase.all %} {{fase.nombre}} {% endfor %}</li>
                            {% endfor %}</ul>
                        <p align="right">
                        <a href="{% url 'proyectos:general' key.id %}" class="card-link">Ir al proyecto</a></p>
                    </div>
                </div>
                    </div>
            {% if forloop.counter|separacion:2 %}
                <div class="w-100"></div>
            {% endif %}
            {% endfor %}
        {% else %}
            <h4>Aún no participó en ningún proyecto</h4>
        {% endif %}
                </div>
         </div>
         <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}
