{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <ins><h3 align="center">Editar Usuario</h3></ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label">Nombre:</label>
                    {{formU.first_name}}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Apellido:</label>
                    {{formU.last_name}}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Email:</label>
                    {{formU.email}}
                </div>
                <div class="form-group">
                    <label class="col-form-label">CI:</label>
                    {{ formP.ci }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Teléfono:</label>
                    {{formP.telefono}}
                </div>
                <p align="center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'usuarios:administrador'%}" class="btn btn-primary" role="button">Cancelar</a>
                </p>
            </form>
        </div>
        <div class="cold-md-3">

        </div>
    </div>
</div>
{% endblock %}
