{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <ins><h3 align="center">Proyectos Asociados</h3></ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            {% if miembros %}
                <table class="table">
                    <thead>
                        <tr class="table-primary">
                            <td>ID</td>
                            <td>Nombre</td>
                            <td>Gerente</td>
                            <td>Descripción</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for miembro in miembros %}
                            <tr>
                                <td>{{ miembro.idProyecto.id }}</td>
                                <td><a href="{% url 'proyectos:general' miembro.idProyecto.id %}">{{ miembro.idProyecto.nombre }}</a></td>
                                <td>{{miembro.idProyecto.gerente}}</td>
                                <td>{{ miembro.idProyecto.descripcion }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
            {% else %}
                <h3>Aún no posee proyectos asociados</h3>
            {% endif %}
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <p align="center">
        <a class="btn btn-primary" role="button" href="{% url 'usuarios:home'%}">Volver</a>
    </p>
</div>
{% endblock %}
