{% extends 'base.html' %}
{% block content %}
<br>
<div class="container-fluid">
    <ins><h3 align="center"> Lista de Tipos de Item</h3></ins>
    <br>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            {% if tipos %}
                <table class="table">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Atributos Adicionales</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipoitem in tipos %}
                            <tr>
                                <td scope="col">{{tipoitem.nombre}}</td>
                                <td scope="col">{{tipoitem.descripcion}}</th>
                                <td scope="col">
                                    {% if tipoitem.adicionalnumero_set.all %}
                                        <label class="form-group-label">Numerico:</label>
                                        <br>
                                        {% for adicional in tipoitem.adicionalnumero_set.all %}
                                            {{adicional.nombre}}
                                            <br>
                                        {% endfor %}
                                        <br>
                                    {% endif %}
                                    {% if tipoitem.adicionalcadena_set.all %}
                                        <label class="form-group-label">Cadena:</label>
                                        <br>
                                        {% for adicional in tipoitem.adicionalcadena_set.all %}
                                            {{adicional.nombre}}
                                            <br>
                                        {% endfor %}
                                        <br>
                                    {% endif %}
                                    {% if tipoitem.adicionalfecha_set.all %}
                                        <label class="form-group-label">Fecha:</label>
                                        <br>
                                        {% for adicional in tipoitem.adicionalfecha_set.all %}
                                            {{adicional.nombre}}
                                            <br>
                                        {% endfor %}
                                        <br>
                                    {% endif %}
                                    {% if tipoitem.adicionalarchivo_set.all %}
                                        <label class="form-group-label">Archivo:</label>
                                        <br>
                                        {% for adicional in tipoitem.adicionalarchivo_set.all %}
                                            {{adicional.nombre}}
                                            <br>
                                        {% endfor %}
                                    {% endif %}
                                    {% if not tipoitem.adicionalnumero_set.all and not tipoitem.adicionalcadena_set.all and not tipoitem.adicionalfecha_set.all and not tipoitem.adicionalarchivo_set.all %}
                                            <label class="form-group-label">No posee atributos adicionales</label>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'tipoitem:importar' idProyecto tipoitem.id %}" class="btn btn-primary" role="button">Importar</a>
                                </td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>No hay tipos de item</h3>
            {% endif %}
            <p align="center">
                <a href="{% url 'proyectos:general' idProyecto %}" class="btn btn-primary">Volver</a>
            </p>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>

{% endblock %}
