{% extends 'base.html' %}

{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type='text/javascript'>

    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore1(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name')
            if(name) {
                name = name.replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).removeAttr('checked');
            }
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
              forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
              $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row1:not(:last)');
        conditionRow.find('.btn.add-form-row1')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row1').addClass('remove-form-row1')
        .html('-');
        return false;
    }

    function deleteForm1(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row1').remove();
            var forms = $('.form-row1');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }

    $(document).on('click', '.add-form-row1', function(e){
        e.preventDefault();
        cloneMore1('.form-row1:last', 'form1');
        return false;
    });

    $(document).on('click', '.remove-form-row1', function(e){
        e.preventDefault();
        deleteForm1('form1', $(this));
        return false;
    });

    function cloneMore2(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name')
            if(name) {
                name = name.replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).removeAttr('checked');
            }
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
              forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
              $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row2:not(:last)');
        conditionRow.find('.btn.add-form-row2')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row2').addClass('remove-form-row2')
        .html('-');
        return false;
    }

    function deleteForm2(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row2').remove();
            var forms = $('.form-row2');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }

    $(document).on('click', '.add-form-row2', function(e){
        e.preventDefault();
        cloneMore2('.form-row2:last', 'form2');
        return false;
    });

    $(document).on('click', '.remove-form-row2', function(e){
        e.preventDefault();
        deleteForm2('form2', $(this));
        return false;
    });

    function cloneMore3(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name')
            if(name) {
                name = name.replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).removeAttr('checked');
            }
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
              forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
              $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row3:not(:last)');
        conditionRow.find('.btn.add-form-row3')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row3').addClass('remove-form-row3')
        .html('-');
        return false;
    }

    function deleteForm3(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row3').remove();
            var forms = $('.form-row3');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }

    $(document).on('click', '.add-form-row3', function(e){
        e.preventDefault();
        cloneMore3('.form-row3:last', 'form3');
        return false;
    });

    $(document).on('click', '.remove-form-row3', function(e){
        e.preventDefault();
        deleteForm3('form3', $(this));
        return false;
    });

    function cloneMore4(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name')
            if(name) {
                name = name.replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).removeAttr('checked');
            }
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
              forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
              $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row4:not(:last)');
        conditionRow.find('.btn.add-form-row4')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row4').addClass('remove-form-row4')
        .html('-');
        return false;
    }

    function deleteForm4(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row4').remove();
            var forms = $('.form-row4');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }

    $(document).on('click', '.add-form-row4', function(e){
        e.preventDefault();
        cloneMore4('.form-row4:last', 'form4');
        return false;
    });

    $(document).on('click', '.remove-form-row4', function(e){
        e.preventDefault();
        deleteForm4('form4', $(this));
        return false;
    });
    </script>
</head>
<br>
<div class="container-fluid">
    <ins><h3 align="center">Crear nuevo Tipo de Item</h3></ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            {% if tipoitemform.non_field_errors %}
    <!-- Error messaging -->
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for error in tipoitemform.non_field_errors%}
                {{ error }}
            {% endfor %}
        </div>
    <!-- /Error messaging -->
    {% endif %}
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label">Nombre:</label>
                    {{ tipoitemform.nombre }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Descripcion:</label>
                    {{ tipoitemform.descripcion }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Fase:</label>
                    {{ tipoitemform.fase }}
                </div>
                    <label class="col-form-label">Atributos Adicionales:</label>
                    <br>
                    <label class="col-form-label">Numerico:</label>
                    {{ formset1.management_form }}
                    {% for form in formset1 %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    <div class="row form-row1 spacer">
                        <div class="input-group offset-1">
                            {{form.nombre}}
                            <div class="input-group-append">
                                <button class="btn btn-success add-form-row1">+</button>
                            </div>
                            <span class="input-group-text">Obligatorio:</span>
                            {{form.opcional}}
                        </div>
                    </div>
                    {% endfor %}
                    <br>
                    <label class="col-form-label">Cadena:</label>
                    {{ formset2.management_form }}
                    {% for form in formset2 %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    <div class="row form-row2 spacer">
                        <div class="input-group offset-1">
                            {{form.nombre}}
                            <div class="input-group-append">
                                <button class="btn btn-success add-form-row2">+</button>
                            </div>
                            <span class="input-group-text">Obligatorio:</span>
                            {{form.opcional}}
                        </div>
                    </div>
                    {% endfor %}
                    <br>
                    <label class="col-form-label">Fecha:</label>
                    {{ formset3.management_form }}
                    {% for form in formset3 %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    <div class="row form-row3 spacer">
                        <div class="input-group offset-1">
                            {{form.nombre}}
                            <div class="input-group-append">
                                <button class="btn btn-success add-form-row3">+</button>
                            </div>
                            <span class="input-group-text">Obligatorio:</span>
                            {{form.opcional}}
                        </div>
                    </div>
                    {% endfor %}
                    <br>
                    <label class="col-form-label">Archivo:</label>
                    {{ formset4.management_form }}
                    {% for form in formset4 %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    <div class="row form-row4 spacer">
                        <div class="input-group offset-1">
                            {{form.nombre}}
                            <div class="input-group-append">
                                <button class="btn btn-success add-form-row4">+</button>
                            </div>
                            <span class="input-group-text">Obligatorio:</span>
                            {{form.opcional}}
                        </div>
                    </div>
                    {% endfor %}
                <br><br>
                <p align="center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="{% url 'tipoitem:listar_tipoitem' idProyecto%}" class="btn btn-danger" role="button">Cancelar</a>
                </p>
                {% if form.errors %}
            	<!-- Error messaging -->
	            <div id="errors">
		            <div class="inner">
			            <ul>
				            {% for field in form %}
					            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				            {% endfor %}
			            </ul>
		            </div>
	            </div>
	            <!-- /Error messaging -->
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_js %}


{% endblock %}
