{% extends 'base.html' %}
{% block content %}
<br>
<div class="container-fluid">
    <h3 align="center">Está por desaprobar el item {{item.identificador}}</h3>
    <h5 align="center">Por favor indique el motivo de manera a notificar a los desarrolladores</h5>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <form class=form-horizontal" method="POST">
                {% csrf_token %}
                {{mensaje.mensaje}}
                <br>
                <p align="center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'items:listar_items' idProyecto idFase idTipo%}" class="btn btn-danger" role="button">Cancelar</a>
                </p>
            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
{% endblock %}
