{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
            {% if 'error' in message.tags %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <ins><h3 align="center">Crear nuevo Item</h3></ins>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label">Identificador:</label>
                    {{ itemform.identif }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Descripcion:</label>
                    {{ itemform.descripcion }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Costo:</label>
                    {{ itemform.costo }}
                </div>
                    <label class="col-form-label">Atributos Adicionales:</label>
                    <br>
                    {{ formset1.management_form }}
                    {% for form in formset1 %}
                       {% if form.nombre.value %}
                            <div class="row form-row1 spacer">
                                <label class="col-form-label offset-1">{{form.nombre.value}}:</label>
                                <br>
                                <div class="input-group offset-1">
                                    {{form.numero}}
                                </div>
                                <br>
                            </div>
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <br>
                    {{ formset2.management_form }}
                    {% for form in formset2 %}
                        {% if form.nombre.value %}
                            <div class="row form-row2 spacer">
                                <label class="col-form-label offset-1">{{form.nombre.value}}:</label>
                                <br>
                                <div class="input-group offset-1">
                                    {{form.cadena}}
                                </div>
                                <br>
                            </div>
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <br>
                    {{ formset3.management_form }}
                    {% for form in formset3 %}
                        {% if form.nombre.value %}
                            <div class="row form-row3 spacer">
                                <label class="col-form-label offset-1">{{form.nombre.value}}:</label>
                                <br>
                                <div class="input-group offset-1">
                                    {{form.fecha}}
                                </div>
                                <br>
                            </div>
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <br>
                    {{ formset4.management_form }}
                    {% for form in formset4 %}
                        {% if form.nombre.value %}
                            <div class="row form-row4 spacer">
                                <label class="col-form-label offset-1">{{form.nombre.value}}:</label>
                                <br>
                                <div class="input-group offset-1">
                                    {{form.archivo}}
                                </div>
                                <br>
                            </div>
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                <br><br>
                <p align="center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="{% url 'items:listar_items' idProyecto idFase idTipo%}" class="btn btn-danger" role="button">Cancelar</a>
                </p>
                {% if form.errors %}
            	<!-- Error messaging -->
	            <div id="errors">
		            <div class="inner">
			            <ul>
				            {% for field in form %}
					            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				            {% endfor %}
			            </ul>
		            </div>
	            </div>
	            <!-- /Error messaging -->
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_js %}


{% endblock %}
