{% extends 'base.html' %}
{% load auth_extras %}
{% block content %}
<br>
<div class="container-fluid">
    <ins><h3 align="center"> Lista de Items</h3></ins>
    <br>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            {% if object_list %}
                <table class="table">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Identificador</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Atributos Adicionales</th>
                            <th scope="col">Fase</th>
                            {% if request.user|aprobar_item:idFase or request.user|desaprobar_item:idFase %}
                                <th scope="col">Acciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in object_list %}
                            <tr>
                                <td scope="col"><a href="{% url 'items:ver_item' idProyecto idFase idTipo item.id %}">{{item.identificador}}</a></td>
                                <td scope="col">{{item.descripcion}}</th>
                                <td scope="col">
                                    {% if item.camponumero_set.all %}
                                        <label class="form-group-label">Numerico:</label>
                                        <br>
                                        {% for campo in item.camponumero_set.all %}
                                            {{campo.nombre}}:
                                            {{campo.numero}}
                                            <br>
                                        {% endfor %}
                                        <br>
                                    {% endif %}
                                    {% if item.campocadena_set.all %}
                                        <label class="form-group-label">Cadena:</label>
                                        <br>
                                        {% for campo in item.campocadena_set.all %}
                                            {{campo.nombre}}:
                                            {{campo.cadena}}
                                            <br>
                                        {% endfor %}
                                        <br>
                                    {% endif %}
                                    {% if item.campofecha_set.all %}
                                        <label class="form-group-label">Fecha:</label>
                                        <br>
                                        {% for campo in item.campofecha_set.all %}
                                            {{campo.nombre}}:
                                            {{campo.fecha}}
                                            <br>
                                        {% endfor %}
                                        <br>
                                    {% endif %}
                                    {% if item.campoarchivo_set.all %}
                                        <label class="form-group-label">Archivo:</label>
                                        <br>
                                        {% for campo in item.campoarchivo_set.all %}
                                            <a href="https://storage.googleapis.com/sgas-is2/{{campo.archivo}}">{{campo.nombre}}</a>
                                            <br>
                                        {% endfor %}
                                    {% endif %}
                                    {% if not item.camponumero_set.all and not item.campocadena_set.all and not item.campofecha_set.all and not item.campoarchivo_set.all %}
                                            <label class="form-group-label">No posee atributos adicionales</label>
                                    {% endif %}
                                </td>
                                <td scope="col">
                                    {{item.fase}}
                                </td>
                                {% if request.user|aprobar_item:item.fase.id or request.user|desaprobar_item:item.fase.id %}
                                <td>
                                     {% if item.estado == 'Para aprobar' and request.user|aprobar_item:item.fase.id %}
                                        <a href="{% url 'items:aprobar_item' item.fase.proyecto.id item.fase.id item.tipo.id item.id %}" class="btn btn-success">Aprobar</a>
                                     {% endif %}
                                    {% if item.estado == 'Para aprobar' and request.user|desaprobar_item:item.fase.id %}
                                        <a href="{% url 'items:desaprobar_item' item.fase.proyecto.id item.fase.id item.tipo.id item.id %}" class="btn btn-danger">Desaprobar</a>
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>No hay items</h3>
            {% endif %}
            <p align="center">
                {% if request.user|crear_item:idFase and proyecto.numFases == 1 and faseActual.estado == 'Abierta' %}
                    <a href="{% url 'items:crear_item' idProyecto idFase idTipo %}" class="btn btn-success">Crear Item</a>
                {% elif request.user|crear_item:idFase and faseActual.posicion == 1 and faseActual.estado == 'Abierta' %}
                    <a href="{% url 'items:crear_item' idProyecto idFase idTipo %}" class="btn btn-success">Crear Item</a>
                {% elif request.user|crear_item:idFase and faseAnt.numLB >= 1 and faseActual.estado == 'Abierta' %}
                    <a href="{% url 'items:crear_item' idProyecto idFase idTipo %}" class="btn btn-success">Crear Item</a>
                {% endif %}
                <a href="{% url 'proyectos:ver_fase' idProyecto idFase %}" class="btn btn-primary">Volver</a>
            </p>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>
{% endblock %}
