{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12"><center>
            <form method="POST">
                {% csrf_token %}
                <h3>Estas seguro de que quieres volver a esta version del item {{ver.itemBase.identificador}} ?</h3>

                <button type="submit" class="btn btn-danger">Confirmar</button>
                <a class="btn btn-primary" href="{% url 'items:listar_items' idProyecto idFase idTipo %}">Cancelar</a>
            </form>
        </center></div>
    </div>
</div>
{% endblock %}
