{% extends 'base.html' %}

{% block content %}

<br>
<div class="container-fluid">
    <ins><h3 align="center">Versiones Anteriores</h3></ins>
    <br>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            {% if cantidad %}
                <table class="table">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Identificador</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Version</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in versiones %}
                            <tr>
                                <td scope="col">{{v.identificador}}</td>
                                <td scope="col">{{v.descripcion}}</td>
                                <td scope="col">{{v.version}}</td>
                                <td scope="col"><a href="{% url 'items:versiones_detalles' idProyecto idFase idTipo v.itemBase.id v.id %}">Mas detalles</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <p align="center">
                <a href="{% url 'items:listar_items' idProyecto idFase idTipo %}" class="btn btn-primary" role="button">Volver</a>
            </p>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>

{% endblock %}
