{% extends 'base.html' %}
{% load auth_extras %}
{% block content %}
<br>
<div class="container-fluid">
    {% if messages %}
                    {% for message in messages %}
                        {% if 'error' in message.tags %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
            {% endif %}
    <h3 align="center">Item: {{item.identificador}}</h3>
    <br>
    <div class="row">
        <div class="col-md-6">
            <ins><h4 align="center">Información General</h4></ins>
            <table class="table table-light">
                <tbody>
                    <tr>
                        <th class="table-primary">Identificador:</th>
                        <td>{{item.identificador}}</td>
                    </tr>
                    <tr>
                        <th class="table-primary">Descripción:</th>
                        <td>{{item.descripcion}}</td>
                    </tr>
                    <tr>
                        <th class="table-primary">Tipo de Ítem:</th>
                        <td>{{item.tipo.nombre}}</td>
                    </tr>
                    <tr>
                        <th class="table-primary">Versión:</th>
                        <td>{{item.version}}</td>
                    </tr>
                    <tr>
                        <th class="table-primary">Costo:</th>
                        <td>{{item.costo}}</td>
                    </tr>
                    <tr>
                        <th class="table-primary">Estado:</th>
                        <td>{{item.estado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <ins><h4 align="center">Relaciones</h4></ins>
            <table class="table">
                <tbody>
                    {% for rA in relacionA %}
                    <tr>
                        {% if rA.tipo == 1 %}
                            <td>Relación Antecesor->Sucesor</td>
                        {% else %}
                            <td>Relación Padre->Hijo</td>
                        {% endif%}
                        <td> <center><b>{{ rA.itemA.identificador }}</b> -> {{ rA.itemB.identificador }}</center> </td>
                        {% if item.id == rA.itemB.id and request.user|eliminar_relacion:item.fase.id and item.estado == 'En Desarrollo' %}
                            <td> <a class="btn btn-danger" href="{% url 'relaciones:eliminar' idProyecto idFase idTipo idItem rA.id %}">Eliminar</a> </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% for rB in relacionB %}
                    <tr>
                        {% if rB.tipo == 1 %}
                            <td>Relación Antecesor->Sucesor</td>
                        {% else %}
                            <td>Relación Padre->Hijo</td>
                        {% endif%}
                        <td> <center>{{ rB.itemA.identificador }} -> <b>{{ rB.itemB.identificador }}</b></center> </td>
                        {% if item.id == rB.itemB.id and request.user|eliminar_relacion:item.fase.id and item.estado == 'En Desarrollo' %}
                            <td> <a class="btn btn-danger" href="{% url 'relaciones:eliminar' idProyecto idFase idTipo idItem rB.id %}">Eliminar</a> </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" align="right">
        <div class="col-md-12">
            {% if fase.estado == 'Abierta' %}
                {% if item.estado == 'En Desarrollo'%}
                    {% if request.user|crear_item:item.fase.id or request.user|modificar_item:item.fase.id  %}
                        <a href="{% url 'items:solicitar_aprobacion' item.fase.proyecto.id item.fase.id item.tipo.id item.id %}" class="btn btn-success">Solicitar Aprobación</a>
                    {% endif %}
                {% endif %}
                {% if item.estado == 'En Desarrollo' and request.user|modificar_item:item.fase.id %}
                    <a href="{% url 'items:modificar_item' idProyecto idFase idTipo item.id %}" class="btn btn-primary">Modificar</a>
                {% endif %}
                {% if item.estado == 'Para aprobar' and request.user|aprobar_item:item.fase.id %}
                    <a href="{% url 'items:aprobar_item' item.fase.proyecto.id item.fase.id item.tipo.id item.id %}" class="btn btn-success">Aprobar</a>
                {% endif %}
                {% if item.estado == 'Para aprobar' and request.user|desaprobar_item:item.fase.id %}
                    <a href="{% url 'items:desaprobar_item' item.fase.proyecto.id item.fase.id item.tipo.id item.id %}" class="btn btn-danger">Desaprobar</a>
                {% endif %}
                {% if item.fase.posicion > 1 and item.estado == 'En Desarrollo' and request.user|relacionar_AS:item.fase.id %}
                    <a href="{% url 'relaciones:nuevoAS' idProyecto idFase idTipo idItem %}" class="btn btn-primary">Relacionar AS</a>
                {% endif %}
                {% if item.estado == 'En Desarrollo' and request.user|relacionar_PH:item.fase.id %}
                    <a href="{% url 'relaciones:nuevoPH' idProyecto idFase idTipo idItem %}" class="btn btn-primary">Relacionar PH</a>
                {% endif %}
                {% if item.estado == 'En Desarrollo' and  request.user|desactivar_item:item.fase.id %}
                    <a href="{% url 'items:eliminar_item' idProyecto idFase idTipo item.id %}" class="btn btn-danger">Eliminar</a>
                {% endif %}
                {% if item.estado == 'En Desarrollo' %}
                  <a href="{% url 'items:ver_versiones' idProyecto idFase idTipo item.id %}" class="btn btn-primary">Restaurar</a>
                {% endif %}
            {% endif %}
            <a href="{% url 'relaciones:impacto' idProyecto idFase idTipo item.id %}" class="btn btn-primary">Impacto</a>
            <a href="{% url 'relaciones:trazabilidad' idProyecto idFase idTipo item.id %}" class="btn btn-primary">Trazabilidad</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" align="center">
            <br>
            <a href="{% url 'items:listar_items' item.fase.proyecto.id item.fase.id item.tipo.id %}" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>
{% endblock %}
