{% extends 'base.html' %}
{% load auth_extras %}
{% block content %}

<br>
<div class="container-fluid">
    <ins><h3 align="center">{{ version.identificador }} V {{ version.version }}</h3></ins>
    <br>

    <div class="row justify-content-center">
            <div class="col-md-3">
                <table class="table">
                    <tr class="table-primary" align="center">
                        <th colspan="3">
                            Numero
                        </th>
                    </tr>
                    {% if dictN %}
                        {% for key, value in dictN.items %}
                            <tr>
                                <td scope="col"> {{value.nombre}} </td>
                                <td scope="col"> {{value.numero}} </td>
                                <td scope="col"> {{value.opcional}} </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td><h5>No posee.</h5></td></tr>
                    {% endif %}
                </table>
            </div>

            <div class="col-md-3">
                <table class="table">
                    <tr class="table-primary" align="center">
                        <th colspan="3">
                            Cadena
                        </th>
                    </tr>
                    {% if dictC %}
                        {% for key, value in dictC.items %}
                            <tr>
                                <td scope="col"> {{value.nombre}} </td>
                                <td scope="col"> {{value.cadena}} </td>
                                <td scope="col"> {{value.opcional}} </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td><h5>No posee.</h5></td></tr>
                    {% endif %}
                </table>
            </div>


            <div class="col-md-3">
                <table class="table">
                    <tr class="table-primary" align="center">
                        <th colspan="3">
                            Fecha
                        </th>
                    </tr>
                    {% if dictF %}
                        {% for key, value in dictF.items %}
                            <tr>
                                <td scope="col"> {{value.nombre}} </td>
                                <td scope="col"> {{value.fecha}} </td>
                                <td scope="col"> {{value.opcional}} </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td><h5>No posee.</h5></td></tr>
                    {% endif %}
                </table>
            </div>

    </div>
    <div class="row justify-content-center" >
            <div class="col-md-3">
                <table class="table">
                    <tr class="table-primary" align="center">
                        <th colspan="3">
                            Archivo
                        </th>
                    </tr>
                    {% if dictA %}
                        {% for key, value in dictA.items %}
                            <tr>
                                <td scope="col"> {{value.nombre}} </td>
                                <td scope="col"> {{value.archivo}} </td>
                                <td scope="col"> {{value.opcional}} </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td><h5>No posee.</h5></td></tr>
                    {% endif %}
                </table>
            </div>

        {% if dictR %}
            <div class="col-md-3">
                <table class="table">
                    <tr class="table-primary" align="center">
                        <th colspan="3">
                            Relaciones
                        </th>
                    </tr>
                    {% for pkey, skey in dictR.items %}
                        {% for key, value in skey.items %}
                            <tr>
                                <td scope="col"> {{value.itemAnombre}} </td>
                                <td scope="col"> -> </td>
                                <td scope="col"> {{value.itemBnombre}} </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <p align="center">
                {% if item.estado == "En Desarrollo" %}
                    <a href="{% url 'items:restaurar_version' idProyecto idFase idTipo idItem version.id %}" class="btn btn-primary" role="button">Restaurar</a>
                {% endif %}
                <a href="{% url 'items:listar_items' idProyecto idFase idTipo %}" class="btn btn-primary" role="button">Volver</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
