{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <title>{% block title%} SGAS {% endblock %} </title>
    </head>
    <body>

            {% block navbar %}

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">SGAS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Menu Principal <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Proyectos Asociados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Área Personal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ayuda</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                         {% endif %}
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Cerrar Sesión</button>
                    </form>
                    {% endif %}
                </div>
            </nav>
            {% endblock %}

        {% block header %}

        {% endblock %}

        {% block content %}

        {% endblock %}

        {% block footer %}

        {% endblock %}

    </body>
</html>
