{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="jumbotron">
                <h2 class="display-4">Bienvenida/o al SGAS</h2>
                <p class="lead">Sistema de Gestión de Artefactos de Software v1.0</p>
                <hr class="my-4">
                <p>El presente proyecto consiste en el desarrollo de un sistema de software, utilizando el ciclo de vida
                    iterativo adaptado de las metodologías SCRUM y KANBAN. El Sistema de Gestión de Artefactos de
                    Software que consiste en el manejo de los componentes que hacen a un proyecto, así como la
                    trazabilidad de los mismos considerando los cambios constantes que existen en el ciclo de vida de un
                    software por parte de sus desarrolladores.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-info mb-3" style="max-width: 20rem;">
                <div class="card-header" align="center">Acceso por Single Sign On</div>
                <div class="card-body">
                    <h4 class="card-title">Datos de cuenta Google:</h4>
                        <ul>
                            <li><p class="card-text">Nombre: {{ user.first_name }}</p> </li>
                            <li><p class="card-text">Apellido: {{ user.last_name }}</p> </li>
                            <li><p class="card-text">Email: {{ user.email }}</p> </li>
                        </ul>
                </div>
            </div>
            {% if perms.usuarios.acceso_usuario %}
             <a title="Ingresar al sistema" class="btn btn-primary btn-lg btn-block" href="" role="button">Ingresar</a>
            {% else %}
             <a class="btn btn-primary btn-lg btn-block" href="{% url 'usuarios:crear_perfil' %}" role="button">Solicitar Acceso</a>
            {% endif %}
            {% if perms.usuarios.autorizar_usuario %}
            <a class="btn btn-primary btn-lg btn-block" href="{% url 'usuarios:lista_acceso' %}" role="button">Administrador</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
