{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <title>{% block title%} SGAS {% endblock %} </title>
    </head>
    <body>

            {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand">SGAS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    {% if perms.usuarios.acceso_usuario %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuarios:home' %}"> Inicio <span class="sr-only">(current)</span></a>
                        </li>
                         {% if perms.usuarios.autorizar_usuario %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuarios:administrador' %}">Sistema</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuarios:proyectos_usuario' user.id %}">Proyectos</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuarios:bitacora' user.id %}">Bitácora</a>
                        </li>
                    </ul>
                    <form method="post" class="form-inline my-2 my-lg-0" action="{% url 'account_logout' %}">
                        <a style="color:#ffffff" class="btn">Usuario: {{request.user.first_name}} {{request.user.last_name}}</a>
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Cerrar Sesión</button>
                    </form>
                     {% endif %}
                </div>
            </nav>
            {% endblock %}

        {% block header %}

        {% endblock %}

        {% block content %}

        {% endblock %}

        {% block footer %}

        {% endblock %}
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
