{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="jumbotron">
                <h2 class="display-4"> Bienvenida/o al SGAS </h2>
                <p class="lead"> Sistema de Gestión de Artefactos de Software v1.0 </p>
                <hr class="my-4">
                <p> El presente proyecto consiste en el desarrollo de un sistema de software, utilizando el ciclo de vida
                    iterativo adaptado de las metodologías SCRUM y KANBAN. El Sistema de Gestión de Artefactos de
                    Software que consiste en el manejo de los componentes que hacen a un proyecto, así como la
                    trazabilidad de los mismos considerando los cambios constantes que existen en el ciclo de vida de un
                    software por parte de sus desarrolladores.
                </p>
                <p class="lead" align="center">
                    {% load socialaccount %}
                    {% get_providers as socialaccount_providers %}
                    {% for provider in socialaccount_providers %}
                    <a title="{{provider.name}}" class="btn btn-primary btn-lg socialaccount_provider {{provider.id}}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params action='reauthenticate'%}" role="button">Iniciar Sesión</a>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-info mb-3" style="max-width: 20rem;">
                <div class="card-header" align="center">Información Importante</div>
                <div class="card-body">
                    <h4 class="card-title">Desarrolladores:</h4>
                        <ul>
                            <li><p class="card-text">Fernando Caballero</p> </li>
                            <li><p class="card-text">Francisco Candia</p> </li>
                            <li><p class="card-text">Fabrizio Coscia</p> </li>
                            <li><p class="card-text">Maximiliano Duré</p> </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
