{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
            {% if 'error' in message.tags %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <h2 align="center">Comité de Control de Cambios</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <ins><h3 align="center">Miembros del Proyecto</h3></ins>
            {% if miembros %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for miembro in miembros %}
                            <tr>
                                <td style="vertical-align:middle;">{{miembro.idPerfil.user.first_name}}</td>
                                <td style="vertical-align:middle;">{{miembro.idPerfil.user.last_name}}</td>
                                <td style="vertical-align:middle;">{{miembro.idPerfil.user.email}}</td>
                                <td><a href="{% url 'proyectos:asignar_comite' idProyecto miembro.idPerfil.user.id %}" class="btn btn-primary">Asignar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 align="center">Todos los miembros pertenecen al comité</h4>
            {% endif %}
        </div>
        <div class="col-md-6">
            <ins><h3 align="center">Miembros del Comité</h3></ins>
            {% if comite %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in comite %}
                            <tr>
                                <td style="vertical-align:middle;">{{usuario.first_name}}</td>
                                <td style="vertical-align:middle;">{{usuario.last_name}}</td>
                                <td style="vertical-align:middle;">{{usuario.email}}</td>
                                <td><a href="{% url 'proyectos:desasignar_comite' idProyecto usuario.id %}" class="btn btn-danger">Desasignar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 align="center">Ningún miembro pertenece al comité</h4>
            {% endif %}
        </div>
    </div>
    <p align="center">
            <br>
            <a href="{% url 'proyectos:general' idProyecto %}" class="btn btn-primary">Volver</a>
        </p>
</div>
{% endblock %}
