{% extends 'base.html' %}
{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <ins><h3 align="center">Crear Solicitud de Cambio</h3></ins>
            <form method="POST" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label">Nombre:</label>
                    {{ form.nombre }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Items Afectados:</label>
                    {{ form.items }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Motivo:</label>
                    {{ form.motivo }}
                </div>
                <p align="center">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <a href="{% url 'proyectos:ver_lb' lb.fase.proyecto.id lb.fase.id lb.id %}" class="btn btn-danger" role="button">Cancelar</a>
                </p>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}
