{% extends 'base.html' %}
{% block content%}
<br>
<div class="container-fluid">
    <ins><h3 align="center">Fases del Proyecto</h3> </ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th>Nombre</th>
                        <th>Posición</th>
                        <th>Estado</th>
                        <th>Num. LB</th>
                        <th>Num. Ítems</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fase in fases %}
                        <tr>
                            <td><a href="{% url 'proyectos:ver_fase' fase.proyecto.id fase.id%}">{{fase.nombre}}</a></td>
                            <td>{{fase.posicion}}</td>
                            <td>{{fase.estado}}</td>
                            <td>{{fase.numLB}}</td>
                            <td>{{fase.numItems}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p align="center">
                <a class="btn btn-primary" href="{% url 'proyectos:general' proyecto %}" role="button">Volver</a>
            </p>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}
