{% extends 'base.html' %}
{% block content %}
<br>
<div class="container-fluid">
    <div class="row">

        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <ins><h3 align="center">Crear Línea Base</h3></ins>
            <form method="POST" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label">Identificador:</label>
                    {{ form.nombre }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Items:</label>
                    {{ form.items }}
                </div>
                <p align="center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'proyectos:ver_fase' fase.proyecto.id fase.id %}" class="btn btn-danger" role="button">Cancelar</a>
                </p>
            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

{% endblock %}
