{% extends 'base.html' %}
{% load filtros_proyectos %}

{% block content %}
<br>
<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
            {% if 'error' in message.tags %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endif %}
            {% if 'info' in message.tags %}
                <div class="alert alert-dismissible alert-info" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <h2 align="center">Datos del Proyecto</h2><br>
    <div class="row">
        <div class="col-md-6">
            <ins><h3 align="center">Información General</h3></ins>
            <table class="table table-light">
                <tbody>
                    <tr>
                        <th class="table-primary">Nombre:</th>
                        <td>{{proyecto.nombre}}</td>
                    </tr>
                    <tr>
                        <th class="table-primary">Descripción:</th>
                        <td>{{proyecto.descripcion}}</td>
                    </tr>
                    <tr>
                        <th class="table-primary">Gerente:</th>
                        <td>{{proyecto.gerente}}</td>
                    </tr>
                    <tr>
                        <th class="table-primary">Creación</th>
                        <td>{{proyecto.fechaCreacion}}</td>
                    </tr>
                    <tr>
                        <th class="table-primary">Estado:</th>
                        <td>{{proyecto.estado}}</td>
                    </tr>
                    {% if proyecto.estado == 'Iniciado' %}
                    <tr>
                        <th class="table-primary">Fecha de Inicio:</th>
                        <td>{{proyecto.fechaInicio}}</td>
                    </tr>
                    {%elif proyecto.estado == 'Finalizado' or proyecto.estado == 'Cancelado'  %}
                    <tr>
                        <th class="table-primary">Fecha de Finalización:</th>
                        <td>{{proyecto.fechaFin}}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <ins><h3 align="center">Miembros del Proyecto</h3></ins>
            {% if miembros %}
                <table class="table">
                    <thead>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">CI</th>
                        <th scope="col">Teléfono</th>
                    </thead>
                    <tbody>
                        {% for miembro in miembros %}
                        <tr>
                            <td>{{miembro.idPerfil.user.first_name}}</td>
                            <td>{{miembro.idPerfil.user.last_name}}</td>
                            <td>{{miembro.idPerfil.user.email}}</td>
                            <td>{{miembro.idPerfil.ci}}</td>
                            <td>{{miembro.idPerfil.telefono}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4>El proyecto aún no cuenta con miembros asociados</h4>
            {% endif %}
        </div>
    </div>
    <div class="row" align="right">

        <div class="col-md-12">
            {% if solicitudes %}
                <a href="{% url 'proyectos:lista_solicitudes' proyecto.id %}" class="btn btn-primary">Resolver Solicitud de Cambio</a>
            {% elif fases %}

                {% if proyecto.estado == 'Pendiente' and user.id == proyecto.gerente.user.id%}
                    <a href="{% url 'proyectos:iniciar' proyecto.id %}" class="btn btn-success" role="button">Iniciar</a>
                {% endif %}
                <a href="{% url 'proyectos:listar_fases' proyecto.id %}" class="btn btn-primary" role="button">Fases</a>
                {% if request.user|pertenece_grupo:proyecto.id and proyecto.estado == 'Iniciado' %}
                    <a href="{% url 'proyectos:solicitudes_votacion' proyecto.id %}" class="btn btn-primary" role="button">Solicitudes</a>
                {% endif %}
                {% if user.id == proyecto.gerente.user.id and not proyecto.estado == 'Finalizado' and not proyecto.estado == 'Cancelado' %}
                    <a href="{% url 'miembros:lista' proyecto.id %}" class="btn btn-primary" role="button">Miembros</a>
                    <a href="{% url 'proyectos:comite' proyecto.id %}" class="btn btn-primary" role="button">Comité de Cambios</a>
                    <a href="{% url 'tipoitem:listar_tipoitem' proyecto.id %}" class="btn btn-primary" role="button">Tipos de Ítem</a>
                    <a href="{% url 'roles:listar_roles' proyecto.id %}" class="btn btn-primary" role="button">Roles</a>
                    <a href="{% url 'proyectos:cancelar' proyecto.id %}" class="btn btn-warning" role="button">Cancelar</a>
                {% endif %}
                {% if proyecto.estado == 'Iniciado' and user.id == proyecto.gerente.user.id%}
                    <a href="{% url 'proyectos:finalizar' proyecto.id %}" class="btn btn-danger" role="button">Finalizar</a>
                {% endif %}
                <a href="{% url 'proyectos:ver_historial' proyecto.id %}" class="btn btn-info" role="button">Historial</a>
                {% if user.id == proyecto.gerente.user.id %}
                    <a href="{% url 'proyectos:reportes' proyecto.id %}" class="btn btn-info" role="button">Reportes</a>
                {% endif %}
            {% else %}
                <a href="{% url  'proyectos:modificar_proyecto' proyecto.id %}" class="btn btn-primary">Configurar Proyecto</a>
            {% endif %}
        </div>
    </div>
    <br>
</div>

{% endblock %}
