{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <br>
            <ins><h3 align="center"> Reporte de Solicitudes de Cambio </h3></ins>
            <br>
            <form method="POST" class="form-horizontal">
                {% csrf_token %}
                <h4 class="text-white bg-success py-1">Del</h4>
                <div class="form-group">
                    <label class="col-form-label">Fecha:</label>
                    {{form.fechaInicio}}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Hora:</label>
                    {{form.horaInicio}}
                </div>
                 <h4 class="text-white bg-success py-1">Al</h4>
                <div class="form-group">
                    <label class="col-form-label">Fecha:</label>
                    {{form.fechaFin}}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Hora:</label>
                    {{form.horaFin}}
                </div>

        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row" align="center">
        <div class="col-md-12">
            <button type="submit" name="solicitudes" class="btn btn-primary">Aceptar</button>
            <a class="btn btn-danger" href="{% url 'proyectos:general' proyecto.id %}" role="button">Cancelar</a>
        </div>
    </div>
    </form>
</div>
{% endblock %}
