{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <br>
    <ins><h3 align="center"> Reportes</h3></ins>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <ins><h4 align="center">Ítems por Fase </h4></ins>
            <br>
            <form method="POST" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label">Seleccione la Fase:</label>
                    {{reporteIForm.fase}}
                </div>
                <p align="center">
                    <button type="submit" name="itemsFase" class="btn btn-primary">Aceptar</button>
                </p>
            </form>
        </div>

        <div class="col-md-4 mx-4">
            <ins><h4 align="center">Solicitudes de Cambio </h4></ins>
            <br>
            <form method="POST" class="form-horizontal">
                {% csrf_token %}
                <h4 class="text-white bg-success py-1">Del</h4>
                <div class="form-group">
                    <label class="col-form-label">Fecha:</label>
                    {{reporteSForm.fechaInicio}}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Hora:</label>
                    {{reporteSForm.horaInicio}}
                </div>
                 <h4 class="text-white bg-success py-1">Al</h4>
                <div class="form-group">
                    <label class="col-form-label">Fecha:</label>
                    {{reporteSForm.fechaFin}}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Hora:</label>
                    {{reporteSForm.horaFin}}
                </div>
                <p align="center">
                    <button type="submit" name="solicitudes" class="btn btn-primary">Aceptar</button>
                </p>
            </form>
        </div>
        <div class="col-md-3">
            <ins><h4 align="center">Ítems</h4></ins>
            <br>
            <form method="POST" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label">Seleccione el Estado:</label>
                    {{reporteForm.estados}}
                </div>
                <br><br><br><br><br><br>
                <p align="center">
                    <button type="submit" name="items" class="btn btn-primary">Aceptar</button>
                </p>
            </form>
        </div>
    </div>
        <div class="col-md-12" align="center">
            <a class="btn btn-primary" href="{% url 'proyectos:general' proyecto.id %}" role="button">Volver</a>
        </div>
</div>
{% endblock %}
