{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <ins><h3 align="center">Solicitudes de Cambio Aprobadas</h3></ins>
    <h4 align="center">Todas las solicitudes deben ser resueltas para avanzar con el proyecto</h4>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <th>Solicitud</th>
                    <th>Responsable</th>
                </thead>
                <tbody>
                    {% for solicitud in solicitudes %}
                        {% if request.user == solicitud.responsable %}
                            <td><a href="{% url 'proyectos:verificar_cambios' proyecto.id solicitud.id %}">{{solicitud.nombre}}</a> </td>
                        {% else %}
                            <td>{{solicitud.nombre}}</td>
                        {% endif %}
                        <td>{{solicitud.responsable.first_name}} {{solicitud.responsable.last_name}}</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">

        </div>
    </div>


</div>

{% endblock %}
