{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <ins><h3 align="center">Solicitudes de Cambio</h3></ins>

    {% if  solicitudes %}
        {% for solicitud in solicitudes %}
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div class="card border-primary mb-3" >
                        <div class="card-header"><b>{{solicitud.nombre}}</b></div>
                    <div class="card-body">
                        <h4 class="card-title">Línea Base: {{solicitud.lb.nombre}}</h4>
                        <p class="card-text">
                            <b>Responsable:</b> {{solicitud.responsable.first_name}} {{solicitud.responsable.last_name}}
                            <br>
                            <b>Ítems involucrados</b>:
                            {% for item in solicitud.items.all %}
                                <a href="{% url 'items:ver_item' idProyecto solicitud.lb.fase.id item.tipo.id item.id %}" >{{item.identificador}}&nbsp;&nbsp;</a>
                            {% endfor %}
                            <br>
                            <b>Motivo:</b>
                            {{solicitud.motivo}}
                        </p>
                        <p align="right">
                            <a href="{% url 'proyectos:solicitudes_aceptar' solicitud.lb.fase.proyecto.id solicitud.id %}" class="btn btn-success">Aceptar</a>
                            <a href="{% url 'proyectos:solicitudes_rechazar' solicitud.lb.fase.proyecto.id solicitud.id %}" class="btn btn-danger">Rechazar</a>
                        </p>
                    </div>
                </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h4>Todas las solicitudes han sido atendidas.</h4>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <p align="center">
                <a class="btn btn-primary" href="{% url 'proyectos:general' idProyecto %}">Volver</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
