{% extends 'base.html' %}
{% block content%}
<br>
<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="alert alert-dismissible alert-info" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <h3 align="center">{{lb.nombre}}</h3>
    <br>
    <div class="row">
        <div class="col-md-6">
            <ins><h4 align="center">Información General</h4></ins>
            <table class="table">
                <tbody>
                <tr>
                    <th>Fecha de Creación:</th>
                    <td>{{lb.fechaCreacion}}</td>
                </tr>
                <tr>
                    <th>Estado:</th>
                    <td>{{lb.estado}}</td>
                </tr>
                <tr>
                    <th>Num. Ítems:</th>
                    <td>{{lb.cantItems}}</td>
                </tr>
                <tr>
                    <th>Responsable:</th>
                    <td>{{lb.creador.first_name}} {{lb.creador.last_name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <ins><h4 align="center">Ítems</h4> </ins>
            <table class="table">
                <thead>
                    <th>Identificador</th>
                    <th>Descripción</th>
                    <th>Costo</th>
                </thead>
                <tbody>
                    {% if lb.items %}
                    {% for item in lb.items.all %}
                        <tr>
                            <td>{{item.identificador}}</td>
                            <td>{{item.descripcion}}</td>
                            <td>{{item.costo}}</td>
                        </tr>
                    {% endfor %}
                    {% else %}
                    <h5>No items</h5>
                    {% endif%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" align="right">
            {% if lb.estado == "Abierta" and lb.fase.estado == 'Abierta' %}
                {% if request.user == lb.creador or request.user.id == lb.fase.proyecto.gerente.id %}
                    <a href="{% url 'proyectos:cerrar_LB' idProyecto idFase lb.id %}" class="btn btn-success" role="button">Cerrar LB</a>
                {% endif %}
            {% endif %}
            {% if lb.estado == "Cerrada" and not solicitudes and lb.fase.estado != 'Cerrada' %}
                {% if request.user.id == lb.creador.id or request.user.id == lb.fase.proyecto.gerente.id %}
                    <a href="{% url 'proyectos:crear_solicitud' idProyecto idFase lb.id %}" class="btn btn-primary" role="button">Solicitar Cambio</a>
                {% endif %}
            {% endif %}
            <a href="{% url 'proyectos:ver_fase' idProyecto idFase %}" class="btn btn-primary" role="button">Volver</a>
        </div>
    </div>
</div>
{% endblock %}
