{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
            {% if 'info' in message.tags %}
                <div class="alert alert-dismissible alert-info" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <ins><h3 align="center">Sucesores - Hijos Afectados</h3></ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <th>Ítem</th>
                    <th>Fase</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                {% for hijoSucesor in hs %}
                    <tr>
                        <td>{{hijoSucesor.identificador}}</td>
                        <td>{{hijoSucesor.fase}}</td>
                        <td><a href="{% url 'proyectos:cambios_mantener' idProyecto idSolicitud hijoSucesor.id %}" class="btn btn-success">Mantener</a>
                            <a href="{% url 'proyectos:cambios_cambiar' idProyecto idSolicitud hijoSucesor.id %}" class="btn btn-danger">Cambiar</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}
