{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <ins><h3 align="center">Añadir nuevo miembro</h3></ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.idPerfil }}
                <br><br>
                <p align="center">
                    <button type="submit" class="btn btn-primary"> Guardar </button>
                    <a href="{% url 'proyectos:general' proyecto%}" class="btn btn-primary" role="button">Volver</a>
                </p>
            </form>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}
