{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <ins><h3 align="center">Miembros del Proyecto</h3></ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th class="text-center" scope="col">ID</th>
                        <th class="text-center" scope="col">Nombre</th>
                        <th class="text-center" scope="col">Apellido</th>
                        <th class="text-center" scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% if miembros %}
                        {% for miembro in miembros %}
                                <tr>
                                    <td class="text-center"> {{ miembro.id }} </td>
                                    <td class="text-center"> {{ miembro.idPerfil.user.first_name }} </td>
                                    <td class="text-center"> {{ miembro.idPerfil.user.last_name }} </td>
                                    <td class="text-center">
                                        <a class="btn btn-primary" href="{% url 'miembros:ver_roles' idProyecto miembro.id %}">Modificar Roles</a>
                                        <a class="btn btn-danger" href="{% url 'miembros:eliminar' idProyecto miembro.id %}">Dar de Baja</a>
                                    </td>
                                </tr>
                        {% endfor %}
                    {% else %}
                        <h3>No hay miembros</h3>
                    {% endif %}
                </tbody>
            </table>
            <p align="center">
                {% if participantes_para_agregar %}
                    <a class="btn btn-primary" href="{% url 'miembros:nuevo' idProyecto %}">Agregar a Proyecto</a>
                {% endif %}
                <a class="btn btn-primary" href="{% url 'proyectos:general' idProyecto %}">Volver</a>
            </p>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}
