{% extends 'base.html' %}
{% block content %}
<br>
<div class="container-fluid">
    <ins><h3 align="center"> Lista de Roles</h3></ins>
    <br>
    {% if object_list %}
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <table class="table" >
                    <thead align="center">
                        <tr class="table-primary">
                            <th scope="col">Nombre</th>
                            <th scope="col">Permisos</th>
                            <th scope="col">Fase</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rol in object_list %}
                            <tr>
                                <td scope="col">{{rol.nombre}}</td>
                                <td scope="col">
                                    {% if rol.grupo.permissions.all %}
                                        {% for permiso in rol.grupo.permissions.all %}
                                            {{permiso.name}}
                                            <br><br>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td scope="col">
                                    {% for fase in rol.fase.all %}
                                        {{fase}}
                                        <br>
                                    {% empty %}
                                        No pertenece a ninguna fase
                                    {% endfor %}
                                </td>
                                <td scope="col"></td>
                                <td><a href="{% url 'roles:editar_rol' idProyecto rol.id %}" class="btn btn-primary">Modificar Rol</a>
                                    <a href="{% url 'roles:eliminar_rol' idProyecto rol.id %}" class="btn btn-danger">Eliminar Rol</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h4 align="center">El proyecto no tiene roles creados</h4>
        <br>
    {% endif %}
    <p align="center">
        <a href="{% url 'roles:crear_rol' idProyecto %}" class="btn btn-success">Crear Rol</a>
        <a href="{% url 'proyectos:general' idProyecto %}" class="btn btn-primary">Volver</a>
    </p>
</div>
{% endblock %}
