{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <ins><h3 align="center">Crear nuevo rol</h3></ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label">Nombre:</label>
                    {{ form.nombre }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Fase:</label>
                    <br>
                    {{ form.fase }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Permisos:</label>
                    {{ form.select }}
                </div>
                <p align="center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'roles:listar_roles' idProyecto %}" class="btn btn-primary" role="button">Cancelar</a>
                </p>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

{% endblock %}
