{% extends 'base.html' %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <br>
    <ins><h3 align="center">Cálculo de Impacto</h3></ins>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8 contenedor">
            <svg height="500" style="border:1px solid gray">
                <defs>
                    <marker id="arrow" markerUnits="strokeWidth" markerWidth="12" markerHeight="12" viewBox="0 0 12 12" refX="6" refY="6" orient="auto">
                        <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #000000;"></path>
                    </marker>
                </defs>
            </svg>
        </div>
            <div class="col-md-2 align-self-center">
                <h4 align="center">Impacto hacia Atras</h4>
                <h3 align="center">{{ costoB }}</h3>
                <h4 align="center">Impacto hacia Adelante</h4>
                <h3 align="center">{{ costoF }}</h3>
                <h4 align="center">Impacto Total</h4>
                <h3 align="center">{{ costoT }}</h3>
                <br><br>
                <h5>Leyenda:</h5>
                <table>
                    <tr>
                        <td><div style="background-color:#26798e;color:#26798e;width:20px;height:20px;border-color:black;border-style:solid;border-width:thin">&nbsp</div></td>
                        <td>&nbspEn Desarrollo</td>
                    </tr>
                    <tr>
                        <td><div style="background-color:#63caa7;color:#26798e;width:20px;height:20px;border-color:black;border-style:solid;border-width:thin">&nbsp</div></td>
                        <td>&nbspAprobado</td>
                    </tr>
                    <tr>
                        <td><div style="background-color:#ffc172;color:#ffc172;width:20px;height:20px;border-color:black;border-style:solid;border-width:thin">&nbsp</div></td>
                        <td>&nbspEn LB</td>
                    </tr>
                    <tr>
                        <td><div style="background-color:#ffe3b3;color:#ffc172;width:20px;height:20px;border-color:black;border-style:solid;border-width:thin">&nbsp</div></td>
                        <td>&nbspDesactivado</td>
                    </tr>

                </table>

            </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br>
            <p align="center">
                <a href="{% url 'items:listar_items' idProyecto idFase idTipo %}" class="btn btn-primary" role="button">Volver</a>
            </p>
        </div>
    </div>
    <script> var jsonDict = {{ jsonDict|safe }} </script>
    <script> {% include 'relaciones/graficar.js' %} </script>
{% endblock %}
