{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    {% if form.errors %}
                <!-- Error messaging -->
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {% for field in form %}
                                {% if field.errors %}{{ field.errors|striptags }}{% endif %}
                            {% endfor %}
                    </div>
                <!-- /Error messaging -->
    {% endif %}
    <ins><h3 align="center">Añadir nueva Relación</h3></ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form.itemA.label }}
                {{ form.itemA }}
                <br><br>
                <p align="center">
                    <button type="submit" class="btn btn-primary"> Guardar </button>
                    <a href="{% url 'items:listar_items' idProyecto idFase idTipo %}" class="btn btn-primary" role="button">Volver</a>
                </p>
            </form>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}
