{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="col-form-label">Nombre:</label>
                    {{formU.first_name}}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Apellido:</label>
                    {{formU.last_name}}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Email:</label>
                    {{formU.email}}
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="col-form-label">CI:</label>
                    {{ formP.ci }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Teléfono:</label>
                    {{formP.telefono}}
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                 <a href="{% url 'usuarios:home'%}" class="btn btn-primary" role="button">Cancelar</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
