{% extends 'base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <h3>Estás a punto de eliminar el perfil del siguiente usuario:</h3>
    <label class="col-form-label">Nombre:</label>
    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ perfil.user.first_name }}" readonly="">
    <label class="col-form-label">Apellido:</label>
    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ perfil.user.last_name }}" readonly="">
    <label class="col-form-label">Email:</label>
    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ perfil.user.email }}" readonly="">
    <button type="submit" class="btn btn-danger">Confirmar</button>
    <a class="btn btn-primary" href="{% url 'usuarios:listar_perfiles' %}">Cancelar</a>
</form>
{% endblock %}
