{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">CI</th>
                <th scope="col">Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for perfil in object_list %}
                    <tr>
                        <td>{{perfil.id}}</td>
                        <td>{{perfil.user.first_name}}</td>
                        <td>{{perfil.user.last_name}} </td>
                        <td>{{perfil.user.email}}</td>
                        <td>{{perfil.ci}}</td>
                        <td>{{perfil.telefono}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <h1>No hay perfiles</h1>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
