{% extends 'base.html' %}

{% block content %}
<br>
<div class="conteiner-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-info mb-3">
                <div class="card-header" align="center">Aviso</div>
                <div class="card-body">
                    <h4 class="card-title">Solicitud de Acceso</h4>
                    <p class="card-text">Usted está a punto de enviar una solicitud para conseguir el acceso al sistema,
                    una vez enviada, la misma queda pendiente de aprobación por parte del administrador del SGAS.</p>
                    <p class="card-text">Luego de aprobarse su solicitud, automáticamente usted verá el botón de acceso
                        en la pantalla principal.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <fieldset>
                <label class="col-form-label">Nombre:</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ user.first_name }}" readonly="">
                <label class="col-form-label">Apellido:</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ user.last_name }}" readonly="">
                <label class="col-form-label">Email:</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ user.email }}" readonly="">
            </fieldset>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label">CI:</label>
                    {{ form.ci }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Teléfono:</label>
                    {{ form.telefono }}
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{% url 'usuarios:home'%}" class="btn btn-primary" role="button">Cancelar</a>
                 {% if form.errors %}
            	<!-- Error messaging -->
	            <div id="errors">
		            <div class="inner">
			            <ul>
				            {% for field in form %}
					            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
				            {% endfor %}
			            </ul>
		            </div>
	            </div>
	            <!-- /Error messaging -->
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}
